/* line 1, ../sass/about.scss */
div.maincontent {
  display: block;
  width: 95%;
  margin: auto;
  border-bottom: solid thin;
}
/* line 6, ../sass/about.scss */
div.maincontent div.creditTitle {
  display: block;
  width: 95%;
  height: 20px;
  margin: 5px auto;
  padding: 10px;
  border-bottom: solid thin;
  border-radius: 10px 10px 0px 0px;
  background-color: #faf0e6;
  overflow-y: auto;
}
/* line 16, ../sass/about.scss */
div.maincontent div.creditTitle p {
  text-align: center;
  line-height: 20px;
  font-weight: 500;
  z-index: 1;
}
/* line 22, ../sass/about.scss */
div.maincontent div.creditTitle img {
  position: absolute;
  clip: rect(55px 200px 90px 10px);
  top: 3px;
  right: -20px;
  opacity: 0.15;
}
/* line 31, ../sass/about.scss */
div.maincontent div.client {
  display: block;
  width: 95%;
  height: 20%;
  margin: 10px auto 5px;
}
/* line 36, ../sass/about.scss */
div.maincontent div.client p {
  text-align: center;
  line-height: 20px;
  padding: 5px;
}
/* line 42, ../sass/about.scss */
div.maincontent div.clientName {
  display: block;
  width: 95%;
  height: 20%;
  margin: 5px auto;
}
/* line 47, ../sass/about.scss */
div.maincontent div.clientName p {
  text-align: center;
  line-height: 20px;
  padding: 2px;
}
/* line 54, ../sass/about.scss */
div.maincontent div.server {
  display: block;
  width: 95%;
  height: 20%;
  margin: 10px auto 5px;
}
/* line 59, ../sass/about.scss */
div.maincontent div.server p {
  text-align: center;
  line-height: 20px;
  padding: 5px;
}
/* line 65, ../sass/about.scss */
div.maincontent div.serverName {
  display: block;
  width: 95%;
  height: 20%;
  margin: 5px auto;
}
/* line 70, ../sass/about.scss */
div.maincontent div.serverName p {
  text-align: center;
  line-height: 20px;
  padding: 2px;
}
/* line 78, ../sass/about.scss */
div.maincontent div.hard {
  display: block;
  width: 95%;
  height: 20%;
  margin: 10px auto 5px;
}
/* line 83, ../sass/about.scss */
div.maincontent div.hard p {
  text-align: center;
  line-height: 20px;
  padding: 5px;
}
/* line 89, ../sass/about.scss */
div.maincontent div.hardName {
  display: block;
  width: 95%;
  height: 20%;
  margin: 5px auto;
}
/* line 94, ../sass/about.scss */
div.maincontent div.hardName p {
  text-align: center;
  line-height: 20px;
  padding: 2px;
}
/* line 101, ../sass/about.scss */
div.maincontent div.thanks {
  display: block;
  width: 95%;
  height: 20%;
  margin: 10px auto 5px;
}
/* line 106, ../sass/about.scss */
div.maincontent div.thanks p {
  text-align: center;
  line-height: 20px;
  padding: 5px;
}
/* line 112, ../sass/about.scss */
div.maincontent div.thanksName {
  display: block;
  width: 95%;
  height: 20%;
  margin: 5px auto 10px;
}
/* line 117, ../sass/about.scss */
div.maincontent div.thanksName p {
  text-align: center;
  line-height: 20px;
  padding: 2px;
}
