/* line 1, ../sass/about.scss */
div.maincontent {
  display: block;
  width: 95%;
  height: 90%;
  margin: auto;
  border-bottom: solid thin;
}
/* line 7, ../sass/about.scss */
div.maincontent div.creditTitle {
  display: block;
  width: 95%;
  height: 20px;
  margin: 5px auto;
  padding: 10px;
  border-bottom: solid thin;
  border-radius: 10px 10px 0px 0px;
  background-color: #faf0e6;
}
/* line 16, ../sass/about.scss */
div.maincontent div.creditTitle p {
  text-align: center;
  line-height: 20px;
  font-weight: 500;
  z-index: 1;
}
/* line 22, ../sass/about.scss */
div.maincontent div.creditTitle img {
  position: absolute;
  clip: rect(55px 200px 90px 10px);
  top: 3px;
  right: -20px;
  opacity: 0.15;
}
/* line 30, ../sass/about.scss */
div.maincontent div.listcontent {
  overflow: auto;
}
/* line 32, ../sass/about.scss */
div.maincontent div.listcontent div.client {
  display: block;
  width: 95%;
  height: 20%;
  margin: 10px auto 5px;
}
/* line 37, ../sass/about.scss */
div.maincontent div.listcontent div.client p {
  text-align: center;
  line-height: 20px;
  padding: 5px;
}
/* line 43, ../sass/about.scss */
div.maincontent div.listcontent div.clientName {
  display: block;
  width: 95%;
  height: 20%;
  margin: 5px auto;
}
/* line 48, ../sass/about.scss */
div.maincontent div.listcontent div.clientName p {
  text-align: center;
  line-height: 20px;
  padding: 2px;
}
/* line 55, ../sass/about.scss */
div.maincontent div.listcontent div.server {
  display: block;
  width: 95%;
  height: 20%;
  margin: 10px auto 5px;
}
/* line 60, ../sass/about.scss */
div.maincontent div.listcontent div.server p {
  text-align: center;
  line-height: 20px;
  padding: 5px;
}
/* line 66, ../sass/about.scss */
div.maincontent div.listcontent div.serverName {
  display: block;
  width: 95%;
  height: 20%;
  margin: 5px auto;
}
/* line 71, ../sass/about.scss */
div.maincontent div.listcontent div.serverName p {
  text-align: center;
  line-height: 20px;
  padding: 2px;
}
/* line 79, ../sass/about.scss */
div.maincontent div.listcontent div.hard {
  display: block;
  width: 95%;
  height: 20%;
  margin: 10px auto 5px;
}
/* line 84, ../sass/about.scss */
div.maincontent div.listcontent div.hard p {
  text-align: center;
  line-height: 20px;
  padding: 5px;
}
/* line 90, ../sass/about.scss */
div.maincontent div.listcontent div.hardName {
  display: block;
  width: 95%;
  height: 20%;
  margin: 5px auto;
}
/* line 95, ../sass/about.scss */
div.maincontent div.listcontent div.hardName p {
  text-align: center;
  line-height: 20px;
  padding: 2px;
}
/* line 102, ../sass/about.scss */
div.maincontent div.listcontent div.thanks {
  display: block;
  width: 95%;
  height: 20%;
  margin: 10px auto 5px;
}
/* line 107, ../sass/about.scss */
div.maincontent div.listcontent div.thanks p {
  text-align: center;
  line-height: 20px;
  padding: 5px;
}
/* line 113, ../sass/about.scss */
div.maincontent div.listcontent div.thanksName {
  display: block;
  width: 95%;
  height: 20%;
  margin: 5px auto 10px;
}
/* line 118, ../sass/about.scss */
div.maincontent div.listcontent div.thanksName p {
  text-align: center;
  line-height: 20px;
  padding: 2px;
}
