/* line 1, ../sass/past-state.scss */
.log-content {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 94%;
  margin: 10px 3%;
  border-radius: 10px;
  font-size: 0.8em;
  background: rgba(255, 255, 255, 0.8);
}
/* line 10, ../sass/past-state.scss */
.log-content ul {
  padding: 20px;
}
