/* line 1, ../sass/past-state.scss */
.log-content {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 84%;
  margin: 10px 3%;
  padding: 15px 5%;
  border-radius: 10px;
  font-size: 0.8em;
  background: rgba(255, 255, 255, 0.8);
}
/* line 11, ../sass/past-state.scss */
.log-content ul {
  display: block;
  height: 100%;
  overflow: scroll;
}
/* line 15, ../sass/past-state.scss */
.log-content ul li {
  display: block;
  height: 20px;
  line-height: 20px;
}
