/* line 1, ../sass/schedule.scss */
div.top {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 3px;
  text-align: center;
  font-size: large;
}

/* line 9, ../sass/schedule.scss */
div.item-name {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 3px;
  text-align: center;
  font-size: large;
}

/* line 18, ../sass/schedule.scss */
div.main-content {
  position: relative;
  margin: 0;
  padding: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-y: auto;
}
/* line 26, ../sass/schedule.scss */
div.main-content div.registrationForm {
  margin: 5px;
  padding: 5px;
  border: solid;
  border-width: 2px;
}
/* line 31, ../sass/schedule.scss */
div.main-content div.registrationForm p {
  padding: 2px;
}
/* line 34, ../sass/schedule.scss */
div.main-content div.registrationForm img {
  float: right;
  width: 120px;
  height: 80px;
  padding-top: 10px;
}
/* line 40, ../sass/schedule.scss */
div.main-content div.registrationForm form {
  margin: 0 auto;
  padding: 5px;
}
/* line 43, ../sass/schedule.scss */
div.main-content div.registrationForm form input.feed-date {
  width: 30%;
}
/* line 46, ../sass/schedule.scss */
div.main-content div.registrationForm form input.feed-time {
  width: 30%;
}
/* line 53, ../sass/schedule.scss */
div.main-content div.schedule-content {
  margin: 5px;
  padding: 0px;
}
/* line 56, ../sass/schedule.scss */
div.main-content div.schedule-content ul.tab_menu {
  list-style-type: none;
  padding-top: 5px;
}
/* line 59, ../sass/schedule.scss */
div.main-content div.schedule-content ul.tab_menu li.active {
  float: left;
  width: 40%;
  text-align: center;
  background: #CD853F;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  margin: 0px;
  padding: 2px;
}
/* line 69, ../sass/schedule.scss */
div.main-content div.schedule-content ul.tab_menu li.active a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 3px;
}
/* line 77, ../sass/schedule.scss */
div.main-content div.schedule-content ul.tab_menu li.past {
  float: left;
  width: 40%;
  text-align: center;
  background: #8C775F;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  margin: 0px;
  padding: 2px;
}
/* line 87, ../sass/schedule.scss */
div.main-content div.schedule-content ul.tab_menu li.past a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 3px;
}
/* line 96, ../sass/schedule.scss */
div.main-content div.schedule-content div.page1 {
  display: block;
  position: absolute;
  width: 98%;
  height: 60%;
  background-color: #FDF5E6;
}
/* line 103, ../sass/schedule.scss */
div.main-content div.schedule-content div.page1 div.taskconts1 h2 {
  text-align: left;
  margin: 5px;
}
/* line 107, ../sass/schedule.scss */
div.main-content div.schedule-content div.page1 div.taskconts1 div.log1 {
  width: 88%;
  height: 50%;
  background-color: white;
}
/* line 114, ../sass/schedule.scss */
div.main-content div.schedule-content div.page2 {
  display: none;
  position: absolute;
  width: 98%;
  height: 60%;
  background-color: #FDF5E6;
}
/* line 121, ../sass/schedule.scss */
div.main-content div.schedule-content div.page2 div.taskconts2 h2 {
  text-align: left;
  margin: 5px;
}
/* line 126, ../sass/schedule.scss */
div.main-content div.schedule-content div.page2 div.logconts2 {
  margin: 5px;
  width: 95%;
  height: 85%;
  background-color: white;
  overflow-y: auto;
  border: solid;
  border-width: 2px;
}
/* line 134, ../sass/schedule.scss */
div.main-content div.schedule-content div.page2 div.logconts2 li {
  border-bottom: solid thin;
  padding: 5px;
}
