/* line 1, ../sass/schedule.scss */
div.top {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 3px;
  text-align: center;
  font-size: large;
}

/* line 9, ../sass/schedule.scss */
div.item-name {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 3px;
  text-align: center;
  font-size: large;
}

/* line 18, ../sass/schedule.scss */
div.main-content {
  position: relative;
  margin: 0;
  padding: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 25, ../sass/schedule.scss */
div.main-content div.registrationForm {
  margin: 5px;
  padding: 5px;
  border: solid;
  border-width: 2px;
}
/* line 30, ../sass/schedule.scss */
div.main-content div.registrationForm p {
  padding: 2px;
}
/* line 33, ../sass/schedule.scss */
div.main-content div.registrationForm img {
  float: right;
  width: 120px;
  height: 80px;
  padding-top: 10px;
}
/* line 39, ../sass/schedule.scss */
div.main-content div.registrationForm form {
  margin: 0 auto;
  padding: 5px;
}
/* line 42, ../sass/schedule.scss */
div.main-content div.registrationForm form input.feed-date {
  width: 30%;
}
/* line 45, ../sass/schedule.scss */
div.main-content div.registrationForm form input.feed-time {
  width: 30%;
}
/* line 52, ../sass/schedule.scss */
div.main-content div.schedule-content {
  margin: 5px;
  padding: 0px;
}
/* line 55, ../sass/schedule.scss */
div.main-content div.schedule-content ul.tab_menu {
  list-style-type: none;
  padding-top: 5px;
}
/* line 58, ../sass/schedule.scss */
div.main-content div.schedule-content ul.tab_menu li.active {
  float: left;
  width: 40%;
  text-align: center;
  background: #CD853F;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  margin: 0px;
  padding: 2px;
}
/* line 68, ../sass/schedule.scss */
div.main-content div.schedule-content ul.tab_menu li.active a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 3px;
}
/* line 76, ../sass/schedule.scss */
div.main-content div.schedule-content ul.tab_menu li.past {
  float: left;
  width: 40%;
  text-align: center;
  background: #8C775F;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  margin: 0px;
  padding: 2px;
}
/* line 86, ../sass/schedule.scss */
div.main-content div.schedule-content ul.tab_menu li.past a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 3px;
}
/* line 95, ../sass/schedule.scss */
div.main-content div.schedule-content div.page1 {
  display: block;
  position: absolute;
  width: 98%;
  height: 60%;
  background-color: #FDF5E6;
}
/* line 102, ../sass/schedule.scss */
div.main-content div.schedule-content div.page1 div.taskconts1 h2 {
  text-align: left;
  margin: 5px;
}
/* line 106, ../sass/schedule.scss */
div.main-content div.schedule-content div.page1 div.taskconts1 div.log1 {
  width: 88%;
  height: 50%;
  background-color: white;
}
/* line 113, ../sass/schedule.scss */
div.main-content div.schedule-content div.page2 {
  display: none;
  position: absolute;
  width: 98%;
  height: 60%;
  background-color: #FDF5E6;
}
/* line 120, ../sass/schedule.scss */
div.main-content div.schedule-content div.page2 div.taskconts2 h2 {
  text-align: left;
  margin: 5px;
}
/* line 125, ../sass/schedule.scss */
div.main-content div.schedule-content div.page2 div.logconts2 {
  margin: 5px;
  width: 95%;
  height: 85%;
  background-color: white;
  overflow-y: auto;
  border: solid;
  border-width: 2px;
}
/* line 133, ../sass/schedule.scss */
div.main-content div.schedule-content div.page2 div.logconts2 li {
  border-bottom: solid thin;
  padding: 5px;
}
