/* line 1, ../sass/schedule.scss */
div.top {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 3px;
  text-align: center;
  font-size: large;
}

/* line 9, ../sass/schedule.scss */
div.item-name {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 3px;
  text-align: center;
  font-size: large;
}

/* line 18, ../sass/schedule.scss */
div.main-content {
  position: relative;
  margin: 0;
  padding: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-y: auto;
}
/* line 26, ../sass/schedule.scss */
div.main-content div.registrationForm {
  margin: 5px;
  padding: 5px;
  border: solid;
  border-width: 2px;
  border-radius: 8px;
}
/* line 32, ../sass/schedule.scss */
div.main-content div.registrationForm p {
  padding: 2px;
}
/* line 35, ../sass/schedule.scss */
div.main-content div.registrationForm img {
  float: right;
  width: 120px;
  height: 80px;
  padding-top: 10px;
}
/* line 41, ../sass/schedule.scss */
div.main-content div.registrationForm form {
  margin: 0 auto;
  padding: 5px;
}
/* line 44, ../sass/schedule.scss */
div.main-content div.registrationForm form input.feed-date {
  width: 30%;
}
/* line 47, ../sass/schedule.scss */
div.main-content div.registrationForm form img.ui-datepicker-trigger {
  position: absolute;
  top: 20px;
  vertical-align: top;
  width: 30px;
  height: 30px;
}
/* line 54, ../sass/schedule.scss */
div.main-content div.registrationForm form input.feed-time {
  width: 30%;
}
/* line 61, ../sass/schedule.scss */
div.main-content div.schedule-content {
  margin: 5px;
  padding: 0px;
}
/* line 64, ../sass/schedule.scss */
div.main-content div.schedule-content ul.tab_menu {
  list-style-type: none;
  padding-top: 5px;
}
/* line 67, ../sass/schedule.scss */
div.main-content div.schedule-content ul.tab_menu li.active {
  float: left;
  width: 40%;
  text-align: center;
  background: #CD853F;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 10px 10px 0px 0px;
  margin: 0px;
  padding: 2px;
}
/* line 78, ../sass/schedule.scss */
div.main-content div.schedule-content ul.tab_menu li.active a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 3px;
}
/* line 86, ../sass/schedule.scss */
div.main-content div.schedule-content ul.tab_menu li.past {
  float: left;
  width: 40%;
  text-align: center;
  background: #8C775F;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 10px 10px 0px 0px;
  margin: 0px;
  padding: 2px;
}
/* line 97, ../sass/schedule.scss */
div.main-content div.schedule-content ul.tab_menu li.past a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 3px;
}
/* line 106, ../sass/schedule.scss */
div.main-content div.schedule-content div.page1 {
  display: block;
  border-radius: 0px 10px 10px 10px;
  position: absolute;
  width: 97%;
  height: 50%;
  background-color: #FDF5E6;
}
/* line 114, ../sass/schedule.scss */
div.main-content div.schedule-content div.page1 div.taskconts1 h2 {
  text-align: left;
  margin: 5px;
}
/* line 119, ../sass/schedule.scss */
div.main-content div.schedule-content div.page1 div.logconts1 {
  margin: 5px;
  width: 95%;
  height: 90%;
  max-height: 170px;
  background-color: white;
  overflow-y: auto;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
}
/* line 129, ../sass/schedule.scss */
div.main-content div.schedule-content div.page1 div.logconts1 li {
  border-bottom: solid 1px;
  padding: 5px;
}
/* line 132, ../sass/schedule.scss */
div.main-content div.schedule-content div.page1 div.logconts1 li a {
  float: right;
  padding-right: 10px;
}
/* line 139, ../sass/schedule.scss */
div.main-content div.schedule-content div.page2 {
  display: none;
  border-radius: 10px;
  position: absolute;
  width: 97%;
  height: 50%;
  background-color: #FDF5E6;
}
/* line 147, ../sass/schedule.scss */
div.main-content div.schedule-content div.page2 div.taskconts2 h2 {
  text-align: left;
  margin: 5px;
}
/* line 152, ../sass/schedule.scss */
div.main-content div.schedule-content div.page2 div.logconts2 {
  margin: 5px;
  width: 95%;
  height: 90%;
  max-height: 170px;
  background-color: white;
  overflow-y: auto;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
}
/* line 162, ../sass/schedule.scss */
div.main-content div.schedule-content div.page2 div.logconts2 li {
  border-bottom: solid thin;
  padding: 5px;
}

/* line 172, ../sass/schedule.scss */
div.dialog1 {
  display: none;
}
/* line 174, ../sass/schedule.scss */
div.dialog1 p {
  line-height: 100px;
  vertical-align: middle;
  float: left;
  width: 60%;
}
/* line 180, ../sass/schedule.scss */
div.dialog1 img {
  float: right;
  width: 40%;
}

/* line 185, ../sass/schedule.scss */
div.dialog2 {
  display: none;
}
/* line 187, ../sass/schedule.scss */
div.dialog2 p {
  line-height: 100px;
  vertical-align: middle;
  float: left;
  width: 60%;
}
/* line 193, ../sass/schedule.scss */
div.dialog2 img {
  float: right;
  width: 40%;
}

/* line 199, ../sass/schedule.scss */
div.dialog3 {
  display: none;
}
/* line 201, ../sass/schedule.scss */
div.dialog3 p {
  line-height: 100px;
  vertical-align: middle;
  float: left;
  width: 60%;
}
/* line 207, ../sass/schedule.scss */
div.dialog3 img {
  float: right;
  width: 40%;
}
