/* line 2, ../sass/setting.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 3, ../sass/setting.scss */
body {
  line-height: 1;
}

/* line 4, ../sass/setting.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 5, ../sass/setting.scss */
ul {
  list-style: none;
}

/* line 6, ../sass/setting.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* line 7, ../sass/setting.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, ../sass/setting.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 9, ../sass/setting.scss */
input, select {
  vertical-align: middle;
}

/* line 11, ../sass/setting.scss */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/* line 17, ../sass/setting.scss */
body {
  width: 100%;
  min-height: 100%;
}

/* line 22, ../sass/setting.scss */
span.dummy {
  display: none;
  visibility: hidden;
}

/* line 28, ../sass/setting.scss */
header.actionbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: #f5d7ae;
}
@media screen and (min-width: 600px) {
  /* line 28, ../sass/setting.scss */
  header.actionbar {
    height: 80px;
  }
}
@media screen and (max-width: 600px) {
  /* line 28, ../sass/setting.scss */
  header.actionbar {
    height: 50px;
  }
}
/* line 39, ../sass/setting.scss */
header.actionbar div.actionbar-wrap {
  max-width: 1000px;
  margin: 0 auto;
}
/* line 43, ../sass/setting.scss */
header.actionbar h1 {
  float: left;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 600px) {
  /* line 43, ../sass/setting.scss */
  header.actionbar h1 {
    background-image: url("../img/share/title.png");
    width: 100px;
    height: 80px;
  }
}
@media screen and (max-width: 600px) {
  /* line 43, ../sass/setting.scss */
  header.actionbar h1 {
    background-image: url("../img/share/title-sp.png");
    background-size: auto 60%;
    width: 70px;
    height: 50px;
  }
}
/* line 58, ../sass/setting.scss */
header.actionbar h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 600px) {
  /* line 63, ../sass/setting.scss */
  header.actionbar h1 a:after {
    content: "";
    float: right;
    width: 1px;
    height: 80%;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.3);
  }
}
@media screen and (min-width: 600px) {
  /* line 75, ../sass/setting.scss */
  header.actionbar a.actionbar-menu-btn {
    display: none;
  }
  /* line 78, ../sass/setting.scss */
  header.actionbar nav {
    float: left;
  }
  /* line 80, ../sass/setting.scss */
  header.actionbar nav ul {
    padding: 0 10px;
  }
  /* line 82, ../sass/setting.scss */
  header.actionbar nav ul li {
    height: 100%;
    line-height: 80px;
    padding: 0 20px;
    float: left;
  }
  /* line 87, ../sass/setting.scss */
  header.actionbar nav ul li a {
    color: white;
  }
}
@media screen and (max-width: 600px) {
  /* line 95, ../sass/setting.scss */
  header.actionbar a.actionbar-menu-btn {
    float: right;
  }
  /* line 97, ../sass/setting.scss */
  header.actionbar a.actionbar-menu-btn img {
    width: 30px;
    height: 30px;
    padding: 10px;
  }
  /* line 103, ../sass/setting.scss */
  header.actionbar nav {
    display: none;
    position: fixed;
    top: 55px;
    right: 5px;
    width: 50%;
  }
  /* line 109, ../sass/setting.scss */
  header.actionbar nav ul {
    background: white;
    box-shadow: 0 1px 1px 1px #ccc;
    border-radius: 5px;
    padding: 10px 0;
  }
  /* line 114, ../sass/setting.scss */
  header.actionbar nav ul li {
    height: 100%;
    line-height: 50px;
  }
  /* line 117, ../sass/setting.scss */
  header.actionbar nav ul li:hover {
    background: #eee;
  }
  /* line 120, ../sass/setting.scss */
  header.actionbar nav ul li a {
    padding: 0 20px;
    display: block;
    color: #399;
  }
}

/* line 131, ../sass/setting.scss */
section.content-wrapper {
  max-width: 960px;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  /* line 131, ../sass/setting.scss */
  section.content-wrapper {
    padding: 120px 20px 50px;
  }
}
@media screen and (max-width: 600px) {
  /* line 131, ../sass/setting.scss */
  section.content-wrapper {
    padding: 80px 20px 50px;
  }
}
