@charset "UTF-8";
/* line 2, ../sass/setting.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 3, ../sass/setting.scss */
body {
  line-height: 1;
}

/* line 4, ../sass/setting.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 5, ../sass/setting.scss */
ul {
  list-style: none;
}

/* line 6, ../sass/setting.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* line 7, ../sass/setting.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, ../sass/setting.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 9, ../sass/setting.scss */
input, select {
  vertical-align: middle;
}

/* line 11, ../sass/setting.scss */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/* line 17, ../sass/setting.scss */
.box {
  position: absolute;
}

/* line 20, ../sass/setting.scss */
.box:after {
  padding-top: 100%;
  display: block;
  content: "";
}

/* line 25, ../sass/setting.scss */
.box > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 33, ../sass/setting.scss */
html, body {
  position: fixed;
  width: 100%;
  min-height: 100%;
  color: #8d4832;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

/* line 41, ../sass/setting.scss */
span.dummy {
  display: none;
  visibility: hidden;
}

/* line 46, ../sass/setting.scss */
header.actionbar {
  position: fixed;
  z-index: 600;
  width: 100%;
  background: #ecdfc9;
}
@media screen and (min-width: 600px) {
  /* line 46, ../sass/setting.scss */
  header.actionbar {
    height: 80px;
  }
}
@media screen and (max-width: 600px) {
  /* line 46, ../sass/setting.scss */
  header.actionbar {
    height: 50px;
  }
}
/* line 57, ../sass/setting.scss */
header.actionbar div.actionbar-wrap {
  max-width: 1000px;
  margin: 0 auto;
}
/* line 61, ../sass/setting.scss */
header.actionbar h1 {
  float: left;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 600px) {
  /* line 61, ../sass/setting.scss */
  header.actionbar h1 {
    background-image: url("../img/share/title.png");
    width: 100px;
    height: 80px;
  }
}
@media screen and (max-width: 600px) {
  /* line 61, ../sass/setting.scss */
  header.actionbar h1 {
    background-image: url("../img/share/title-sp.png");
    background-size: auto 60%;
    width: 70px;
    height: 50px;
  }
}
/* line 76, ../sass/setting.scss */
header.actionbar h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 600px) {
  /* line 81, ../sass/setting.scss */
  header.actionbar h1 a:after {
    content: "";
    float: right;
    width: 1px;
    height: 80%;
    margin: 10px 0;
    background: rgba(141, 72, 50, 0.3);
  }
}
@media screen and (min-width: 600px) {
  /* line 93, ../sass/setting.scss */
  header.actionbar span.now-page {
    display: none;
  }
  /* line 96, ../sass/setting.scss */
  header.actionbar a.actionbar-menu-btn {
    display: none;
  }
  /* line 99, ../sass/setting.scss */
  header.actionbar nav {
    float: left;
  }
  /* line 101, ../sass/setting.scss */
  header.actionbar nav ul {
    padding: 0 10px;
  }
  /* line 103, ../sass/setting.scss */
  header.actionbar nav ul li {
    height: 100%;
    line-height: 80px;
    float: left;
  }
  /* line 107, ../sass/setting.scss */
  header.actionbar nav ul li a {
    font-size: 18px;
    padding: 0 20px;
    display: block;
    height: 100%;
    color: #8d4832;
  }
  /* line 113, ../sass/setting.scss */
  header.actionbar nav ul li a:hover {
    background: rgba(255, 255, 255, 0.3);
  }
  /* line 116, ../sass/setting.scss */
  header.actionbar nav ul li a img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    vertical-align: -2px;
  }
  /* line 122, ../sass/setting.scss */
  header.actionbar nav ul li a span {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  /* line 131, ../sass/setting.scss */
  header.actionbar span.now-page {
    display: block;
    width: 300px;
    height: 50px;
    position: fixed;
    left: 50%;
    line-height: 50px;
    text-align: center;
    margin: 0 0 0 -150px;
  }
  /* line 141, ../sass/setting.scss */
  header.actionbar a.actionbar-menu-btn {
    float: right;
  }
  /* line 143, ../sass/setting.scss */
  header.actionbar a.actionbar-menu-btn img {
    width: 30px;
    height: 30px;
    padding: 10px;
  }
  /* line 149, ../sass/setting.scss */
  header.actionbar nav {
    display: none;
    position: fixed;
    top: 55px;
    right: 5px;
    width: auto;
  }
  /* line 155, ../sass/setting.scss */
  header.actionbar nav ul {
    background: white;
    box-shadow: 0 1px 1px 1px #ccc;
    border-radius: 5px;
    padding: 10px 0;
  }
  /* line 160, ../sass/setting.scss */
  header.actionbar nav ul li {
    height: 100%;
    line-height: 50px;
  }
  /* line 163, ../sass/setting.scss */
  header.actionbar nav ul li:hover {
    background: #eee;
  }
  /* line 166, ../sass/setting.scss */
  header.actionbar nav ul li a {
    display: block;
    padding: 0 25px 0 20px;
    color: #8d4832;
  }
  /* line 171, ../sass/setting.scss */
  header.actionbar nav ul li img {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
    vertical-align: -2px;
  }
}

/* line 183, ../sass/setting.scss */
section.content-wrapper {
  display: block;
  max-width: 960px;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  /* line 183, ../sass/setting.scss */
  section.content-wrapper {
    padding: 120px 0 50px;
  }
}
@media screen and (max-width: 600px) {
  /* line 183, ../sass/setting.scss */
  section.content-wrapper {
    padding: 50px 0 50px;
  }
}

/* line 195, ../sass/setting.scss */
header.main-header {
  height: 30px;
  text-align: center;
  line-height: 30px;
}
/* line 199, ../sass/setting.scss */
header.main-header div {
  display: inline-block;
}
/* line 201, ../sass/setting.scss */
header.main-header div + div:before {
  content: "の";
  padding: 0 5px;
  font-size: 0.8em;
}

/* line 209, ../sass/setting.scss */
footer.sp-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 50px;
  background: #ecdfc9;
  overflow: hidden;
}
/* line 219, ../sass/setting.scss */
footer.sp-menu ul li {
  float: left;
  width: 32%;
  margin: 0 1% 0 0;
  height: 50px;
}
/* line 223, ../sass/setting.scss */
footer.sp-menu ul li:first-child {
  margin: 0 1%;
}
/* line 226, ../sass/setting.scss */
footer.sp-menu ul li:nth-child(2) {
  width: 30%;
  padding: 0 1%;
  box-shadow: 0 0 0 1px rgba(141, 72, 50, 0.1);
}
/* line 232, ../sass/setting.scss */
footer.sp-menu ul li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  color: #8d4832;
}
/* line 239, ../sass/setting.scss */
footer.sp-menu ul li a:hover {
  background: rgba(255, 255, 255, 0.3);
}
/* line 242, ../sass/setting.scss */
footer.sp-menu ul li a img {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  vertical-align: -3px;
}
